<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lark.database.mapper.MonitorJobMapper">
  <resultMap id="BaseResultMap" type="lark.database.model.MonitorJob">
    <id column="job_id" jdbcType="VARCHAR" property="jobId" />
    <id column="country_region_code" jdbcType="VARCHAR" property="countryRegionCode" />
    <result column="cron_json" jdbcType="VARCHAR" property="cronJson" />
    <result column="once_per_duration" jdbcType="VARCHAR" property="oncePerDuration" />
    <result column="hold_start_time" jdbcType="TIMESTAMP" property="holdStartTime" />
    <result column="hold_end_time" jdbcType="TIMESTAMP" property="holdEndTime" />
    <result column="last_trig_time" jdbcType="TIMESTAMP" property="lastTrigTime" />
  </resultMap>
  <update id="updateByPrimaryKey" parameterType="lark.database.model.MonitorJob">
    update monitor_job
    set cron_json = #{cronJson,jdbcType=VARCHAR},
      once_per_duration = #{oncePerDuration,jdbcType=VARCHAR},
      hold_start_time = #{holdStartTime,jdbcType=TIMESTAMP},
      hold_end_time = #{holdEndTime,jdbcType=TIMESTAMP},
      last_trig_time = #{lastTrigTime,jdbcType=TIMESTAMP}
    where job_id = #{jobId,jdbcType=VARCHAR}
      and country_region_code = #{countryRegionCode,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select job_id, country_region_code, cron_json, once_per_duration, hold_start_time, 
    hold_end_time, last_trig_time
    from monitor_job
    where job_id = #{jobId,jdbcType=VARCHAR}
      and country_region_code = #{countryRegionCode,jdbcType=VARCHAR}
  </select>
  <select id="selectByPrimaryKeySkipLocked" parameterType="map" resultMap="BaseResultMap">
    select job_id, country_region_code, cron_json, once_per_duration, hold_start_time,
    hold_end_time, last_trig_time
    from monitor_job
    where job_id = #{jobId,jdbcType=VARCHAR}
    and country_region_code = #{countryRegionCode,jdbcType=VARCHAR}
    for update skip locked
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select job_id, country_region_code, cron_json, once_per_duration, hold_start_time, 
    hold_end_time, last_trig_time
    from monitor_job
  </select>
</mapper>